body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  color: #404040;
}

.container {
  width: 1100px;
  margin: 0 auto;
}
.page_container {
  min-height: 80vh;
  padding-top: 85px;
}

.bck_b_light {
  background: #999592;
}

.bck_b_dark {
  background: #272723;
}

/*============================
            FORM
==============================*/

input {
  font-size: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
  background: #e1ddc3;
  margin-top: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

/*============================
            HEADER
==============================*/
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid white;
}

header .logo {
  font-family: "Monoton", cursive;
  color: #ffffff;
  font-size: 40px;
  padding: 11px 0px;
}

header .container {
  display: flex;
}

header .container .left {
  width: 250px;
}

/*============================
            FOOTER
==============================*/

footer .logo {
  text-align: center;
  font-family: "Monoton", cursive;
  color: #ffffff;
  font-size: 40px;
  padding: 11px 0px;
  border-bottom: 1px solid #4d4d4d;
}

footer .wrapper {
  display: flex;
  color: #828282;
}

footer .left,
footer .right {
  flex: 1;
}

footer .business_nfo {
  display: flex;
  flex-wrap: wrap;
}

footer .business_nfo .tag {
  flex-grow: 1;
  position: relative;
  width: 50%;
  margin-bottom: 30px;
}
footer .business_nfo .icon {
  position: absolute;
  font-size: 26px;
  top: 10px;
}
footer .business_nfo .nfo {
  padding-left: 40px;
}

/*============================
        CARD ITEM
==============================*/

.card_item_wrapper {
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.card_item_wrapper .image {
  width: 100%;
  height: 280px;
  background-position: center !important;
  background-size: cover !important;
  border: 1px solid #dcc2f3;
  border-radius: 10px;
}

.card_item_wrapper .tags {
  position: relative;
  border-bottom: 1px solid #f0f0f0;
}

.card_item_wrapper .tags .productno,
.card_item_wrapper .tags .productname,
.card_item_wrapper .tags .price {
  text-align: center;
  margin: 0px;
}

.card_item_wrapper .tags .productno {
  font-size: 17px;
  font-weight: 700;
  color: #f32133;
}

.card_item_wrapper .tags .productname {
  font-size: 21px;
  font-weight: 700;
}

.card_item_wrapper .tags .price {
  font-weight: 300;
  font-size: 21px;
}

/*=============================
  home-register-login ipenn
===============================*/

.ipenn {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.ipennroot-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ipennbox-controller {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 24em;
  min-width: 21em;
  height: 35px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  margin-bottom: 30px;
  align-items: center;
  transition: visibility 0.5s ease-out;
}

.ipennbox-container {
  position: relative;
  margin-left: 35%;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 24em;
  min-width: 21em;
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  border-radius: 6px;
  padding: 24px;
}

.ipenninner-container {
  transition: visibility 0.2s ease-out;
}

.ipenninner-container.show {
  visibility: visible;
}

.ipennheader {
  text-align: center;
  padding: 5px;
  margin-bottom: 17px;
  /* margin-left: 35px; */
  /* margin-right: 35px; */
  font-family: Ozxgen, sans-serif;
  font-size: 22px;
  border-bottom: 2px solid #70a1ff;
}

.ipennbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ipenninput-group {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ipennlogin-label {
  font-family: Oxygen, sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-left: 5px;
}

.ipennlogin-input {
  height: 2.1em;
  border-radius: 3px;
  border: 1px solid #70a1ff;
  transition: border 0.4s ease-out;
  padding: 13px;
  font-family: Oxygen, sans-serif;
  font-size: 19px;
  color: #3e3e42;
  background: rgba(15, 15, 15, 0.01);
}

.ipennlogin-input2 {
  height: 2.1em;
  border-radius: 3px;
  border: 1px solid #70a1ff;
  transition: border 0.4s ease-out;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: Oxygen, sans-serif;
  font-size: 19px;
  color: #3e3e42;
  background: rgba(15, 15, 15, 0.01);
}

.ipennlogin-input:hover {
  border: 2px solid #70a1ff;
}

.ipennlogin-input:focus {
  border: 2px solid #6565e7;
  box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

.ipennlogin-input::placeholder {
  font-family: Oxygen, sans-serif;
  font-size: 16px;
  color: rgba(46, 213, 116, 0.839);
  color: rgba(15, 15, 15, 0.4);
}

.ipennlogin-btn {
  padding: 2px 30px;
  /* background-color: #417cef; */
  border: 0;
  font-size: 18px;
  border-radius: 3px;
  font-family: Oxygen, sans-serif;
  background-color: rgba(15, 15, 15, 0.03);
  margin-top: 20px;
  border: 2px solid #417cef;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.ipennlogin-btn:hover,
.ipennlogin-btn:focus {
  background-color: #417cef;
  color: white;
}

.ipenndanger-error {
  color: #e74c3c;
  font-size: 16px;
}

.ipennpassword-state {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.ipennpwd {
  height: 6px;
  flex: 1;
  visibility: hidden;
}

.ipennpwd-weak {
  background-color: #e74c3c;
}

.ipennpwd-medium {
  background-color: #3498db;
}

.ipennpwd-strong {
  background-color: #2ecc71;
}

.ipennshow {
  visibility: visible;
}
