/node_modules
/client/node_modules
/build

.env

npm-debug.log*

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/.pnp

# testing
client/coverage

# production
client/build
